 /* general style */
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
:root {
    --primary: #FB5454;
    --secondary:#ACA3A3;
    --white: #ffffff;
    --black: #000000;
}
ul {
    list-style: none;
}
body {
    position: relative;
}
/* form & img style */
.address{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 30px;
    color: var(--primary);
}
main{
    width: 90vw;
    margin: 0 auto;
}
.input{ 
    padding: .5em;
    border-radius: 5px;
    width: 68vw;
} 
.button{
    width: 20vw;
    padding: 0.5em;
    border-radius: 5px;
    background-color:var(--primary);
    color: var(--white) ;
    border: 1px solid var(--primary);
}
.figure { 
    width: 90vw;
    margin: .5em auto;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 5px 5px 4px rgba(120, 74, 74, 0.25);
} 
.figure .img{
    width: 100%;
    border-radius: 5px;
}
/* start important section  */
.important-sec {
    width:90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    margin:1em auto;
    border-radius: .5em;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.2em;
}
.important-sec .name-country {
    color: var(--primary);
    font-size: 2em;
    padding: .5em;
    font-weight: bold;
}
.important-sec .degree-country {
    font-size: 1.5em;
    margin-bottom: .5em;
}
.wind,.pressure,.humidity,.visibility {
    margin-bottom: .5em;
}
/* end important section  */
/* start daily section */
.daily-sec {
    width:90vw;
    padding: 1em;
    margin:1em auto;
    border-radius: .5em;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.2em;
}
.daily-sec .daily-weather {
    color: var(--primary);
    text-align: center;
    margin-bottom: .5em;
    font-size: 2em;
}
.daily-sec .days {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw 9vw
}
.daily-sec .days .day {
    width: 35vw;
    margin-bottom: .2em;
}
.daily-sec .days .day .date-daily,
.daily-sec .days .day .degree-daily{ 
    display: block;
    text-align: center;
    margin-bottom: .3em;
}

/* end daily section */
/* start handel error */
.error-sec {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    visibility: hidden;
    width: 70vw;
    margin: 0 auto;
    background-color: var(--white);
    padding: 2em;
    border: 2px solid var(--primary);
}
.error-sec .fa-times {
    margin-bottom: 1em;
    font-size: 2em;
    color: var(--primary);
    text-align: right;
    display: block;
    cursor: pointer;
}
.error-sec img {
    width: 100%;
}
.error-sec .error {
    text-align: center;
    font-weight: bold;
    color: var(--primary);
}
/* end handel error */
/* responsive */

@media (min-width: 769px ) and (max-width:1023px){
    .important-sec {
        width:50vw;
    }
    .daily-sec .days {
        gap: 2vw 5vw
    }
    .daily-sec .days .day {
        width: 25vw;
        margin-bottom: 0;
    }
}
@media (min-width: 1024px ){
    .important-sec {
        width:40vw;
    }
    .daily-sec .days {
        gap: 2vw 3vw
    }
    .daily-sec .days .day {
        width: 15vw;
        margin-bottom: 0;
    }
}